{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partials/navbar.html.twig' %}

    <div class="container pt-3">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card_head">
                        <span class="small_bold">Instellingen</span>
                    </div>
                    <ul class="card-nav">
                        <a {% if app.request.get('_route') == 'profile' %} class="active"{% endif %} href="{{ path('profile') }}"><li>Profiel</li></a>
                        <a {% if app.request.get('_route') == 'issue.index' %} class="active"{% endif %} href="{{ path('issue.index') }}"><li>Openstaande aanvragen</li></a>
                        <a {% if app.request.get('_route') == 'draft.index' %} class="active"{% endif %} href="{{ path('draft.index') }}"><li>Geuploade documenten</li></a>
                    </ul>
                </div>
                {% if app.user.role == "ROLE_ADMIN" %}
                    <div class="card mt-3">
                        <ul class="card-nav">
                            <div class="card_head">
                                <span class="small_bold">Admin</span>
                            </div>
                            <ul class="card-nav">
                                <a {% if app.request.get('_route') == 'draft.check' %} class="active"{% endif %} href="{{ path('draft.check') }}"><li>Concepten goedkeuren</li></a>
                            </ul>

                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>

{% endblock %}