{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partials/navbar.html.twig' %}
    <div class="container">
        <div class="col-md-12">
            <ol class="breadcrumb shadow-sm bg-white">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('documents.index') }}">documenten</a></li>
                <li class="breadcrumb-item active">{{ document.documentName }}</li>
            </ol>
        </div>
        {%  include 'partials/flashbag.html.twig' %}
        <div class="row">
            <div class="col-md-6">
                <div id="pdfContainer" class="col-md-12 no-padding">
                    <embed src="{{ asset('pdf/' ~ document.pdfFileName) }}" width="100%" height="100%" >
                </div>
            </div>
            <div class=" col-md-6">
                <div id="detailsContainer" class="card">
                    <div id="specificationContainer">
                        <div class="card_head">
                            <h4>Specificaties</h4>
                        </div>
                        <div class="card_body">
                            <p>
                                {{ document.description }}
                            </p>
                        </div>
                        <div class="no-padding">
                            <table class="table align table-striped">
                                <tbody>
                                <tr>
                                    <td>Naam</td>
                                    <td>{{ document.documentName }}</td>
                                </tr>
                                <tr>
                                    <td>Discipline</td>
                                    <td>{{ document.discipline }}</td>
                                </tr>
                                <tr>
                                    <td>Revisie #</td>
                                    <td>{{ document.version }}</td>
                                </tr>
                                <tr>
                                    <td>Laatst geupdate</td>
                                    <td>{{ document.updatedAt.format("d-m-Y") }}</td>
                                </tr>
                                <tr>
                                    <td>Organisatie</td>
                                    <td>{{ document.location.organisation }}</td>
                                </tr>
                                <tr>
                                    <td>Locatie</td>
                                    <td>{{ document.location }}</td>
                                </tr>
                                <tr>
                                    <td>Gebouw</td>
                                    <td>{{ document.building ? document.building : "N.V.T." }}</td>
                                </tr>
                                <tr>
                                    <td>Gebouwdeel</td>
                                    <td>{{ document.area ? document.area : "N.V.T." }}</td>
                                </tr>
                                <tr>
                                    <td>Verdieping</td>
                                    <td>{{ document.floor is not empty ? document.floor : "N.V.T." }}</td>
                                </tr>
                                <tr>
                                    <td>Document type</td>
                                    <td>{{ document.documentType ? document.documentType : "N.V.T." }}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <div id="buttonContainer" class="p-3 pt-0!">
                        <button type="button" class="btn d-inline-block btn-info" data-toggle="modal" data-target="#requestPdf">PDF downloaden</button>
                        {# Alleen leveranciers en + mogen revisie doen#}
                        {% if is_granted("ROLE_LEVERANCIER") %}
                            <button type="button" class="btn d-inline-block btn-info" data-toggle="modal" data-target="#requestDwg1">DWG downloaden</button>
                        {% else %}
                            <a class="closemodal" href="{{ path('document.download', {documentId: document.id, type: "DWG", issue: false}) }}">
                                <button type="button" class="btn btn-info">DWG downloaden</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-6 mt-3">
            <div class="card">
                <div >
                    <div class="card_head">
                        <h4>Geschiedenis</h4>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Versie</th>
                            <th>Geupload op</th>
                            <th>Door</th>
                            <th>Acties</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ document.version }}</td>
                            <td>{{ document.updatedAt.format("d-m-Y") }}</td>
                            <td>{{ document.uploadedBy }}</td>
                            <td>
                                <a class="closemodal"
                                   href="{{ path('document.download', {documentId: document.id, type: "DWG", issue: false}) }}">
                                    DWG
                                </a>
                                <a class="closemodal"
                                   href="{{ path('document.download', {documentId: document.id, type: "PDF", issue: false}) }}">
                                    PDF
                                </a>
                            </td>
                        </tr>
                        {% if documentHistory is defined %}
                            {% for history in documentHistory %}
                                <tr>
                                    <td>{{ history.revision }}</td>
                                    <td>{{ history.updatedAt.format("d-m-Y") }}</td>
                                    <td>{{ history.updatedBy }}</td>
                                    <td>
                                        <a class="closemodal"
                                           href="{{ path('document.download.revision', {revisionId: history.id, fileType: "dwg"}) }}">
                                            DWG
                                        </a>
                                        <a class="closemodal"
                                           href="{{ path('document.download.revision', {revisionId: history.id, fileType: "pdf"}) }}">
                                            PDF
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {#  PDF Opvragen modal  #}
    <div class="modal fade" id="requestPdf" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">PDF opvragen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Aan deze actie zijn kosten verbonden. Wilt u doorgaan?
                </div>
                <div class="modal-footer">
                    <a href="{{ path('document.download', {documentId: document.id, type: "PDF", issue: false}) }}">
                        <button type="button" class="btn btn-info closeModal">Doorgaan</button>
                    </a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                </div>
            </div>
        </div>
    </div>

    {#  DWG Opvragen modal  #}
    <div class="modal fade" id="requestDwg1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">DWG opvragen 1/2</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span class="small_bold">Bent u van plan dit document te updaten en uploaden?</span>
                    <br>
                    <ul>
                        <li><span class="small_bold">Ja</span> Het document gaat in revisie en u dient de nieuwe revisie binnen de afgesproken tijd in te leveren.</li>
                        <li><span class="small_bold">Nee</span> U kunt de DWG downloaden voor eigen gebruik.</li>
                    </ul>

                    <br>

                </div>
                <div class="modal-footer">
                    {% if canDoRevision %}
                        <button type="button" class="btn btn-info btn-next">Met revisie</button>
                    {% else %}
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="Dit document is momenteel in revisie en kan pas opnieuw aangevraagd worden als dit is afgerond.">
                            <button disabled style="pointer-events: none;" type="button" class="btn btn-info">Met revisie</button>
                        </span>
                    {% endif %}
                    <a class="closemodal" href="{{ path('document.download', {documentId: document.id, type: "DWG", issue: false}) }}">
                        <button type="button" class="btn btn-info closeModal">Zonder revisie</button>
                    </a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                </div>
            </div>
        </div>
    </div>

    {# Inleverdatum modal #}
    <div class="modal fade" id="requestDwg2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="{{ path('document.download', {documentId: document.id, type: "DWG", issue: true}) }}">
                    <div class="modal-header">
                        <h5 class="modal-title">DWG opvragen 2/2</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Wanneer wordt de revisie uiterlijk opgeleverd?</p>
                        <label>
                            Datum: <input type="date" name="deadlineInput" min="{{ minDeadlineDate.format('Y-m-d') }}" max="{{ maxDeadlineDate.format('Y-m-d') }}" required>
                        </label>
                        <input type="hidden" name="type" value="dwg">
                        <input type="hidden" name="issue" value="true">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info btn-prev">
                            <svg class="bi bi-arrow-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd" d="M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                            Terug
                        </button>
                        <button type="submit" class="btn btn-info closeModal">
                            <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                                <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                            </svg>
                            Download
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                    </div>
                </form> {# Datum input form #}
            </div>
        </div>
    </div>
{% endblock %}