{% extends 'profile/settings.html.twig' %}

{% block content %}

    <div class="card">
        <div class="card_head">
            <h4>Document: {{ draft.document.documentName }}</h4>
        </div>
        <div class="card_body no-padding">
            <p class="pl-25">
                <b>Status:</b>
                <br>
                {{ draft.draftStatus.description }}
                <br>
                {% if draft.draftStatus.name == "Afgekeurd" %}
                    <b>Afgekeurd omdat:</b>
                    <br>
                    {{ draft.rejectionDescription }}
                {% endif %}
            </p>

            <table class="table table-borderless">
                <tr>
                    <td>Geupload</td>
                    <td>{{ draft.uploadedAt.format("d-m-Y H:m") }}</td>
                </tr>
                <tr>
                    <td>Discipline</td>
                    <td>{{ draft.document.discipline }}</td>
                </tr>
                <tr>
                    <td>Document type</td>
                    <td>{{ draft.document.documentType }}</td>
                </tr>
                <tr>
                    <td>Gebouw</td>
                    <td>{{ draft.document.building }}</td>
                </tr>
                <tr>
                    <td>Verdieping</td>
                    <td>{{ draft.document.floor }}</td>
                </tr>
                <tr>
                    <td>Gebouwdeel</td>
                    <td>{{ draft.document.area }}</td>
                </tr>
            </table>

        </div>
    </div>

{% endblock %}