{% block navbar %}
    <nav class="navbar navbar-dark bg-dark  flex-md-nowrap shadow navbar-expand-lg">
        <div class="container">
{#            <a class="navbar-brand" href="{{ path('home') }}">{{ app.user.organisation }}</a>#}
            <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset(logo_directory ~ app.user.organisation.logoFileName) }}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pageNav"
                    aria-controls="pageNav" aria-expanded="false" aria-label="Navigatie">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="pageNav">
                <div class="align-items-center flex-grow-1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'home' %}current{% endif %}"
                               href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'documents.index' %}current{% endif %}"
                               href="{{ path('documents.index') }}">Documenten
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'issue.index' %}current{% endif %}" href="{{ path('issue.index') }}">Openstaande aanvragen
                                {% if app.user.issueCount %}
                                    <span class="badge badge-pill badge-danger">{{ app.user.issueCount }}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'draft.index' %}current{% endif %}" href="{{ path('draft.index') }}">Geuploade documenten</a>
                        </li>
                    </ul>
                </div>

                <ul class="navbar-nav px-3">
                    <li class="nav-item">
                        <a href="{{ path('profile') }}" class="navbar-text username">{{ app.user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">Uitloggen</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}