{%  extends 'base.html.twig' %}

{% block body %}
    {% include 'partials/navbar.html.twig' %}
    <div class="container-fluid">
        <div class="content d-flex">
            <div class="d-inline-block">
                <div class="discipline-grid-container">
                    <div class="yellow">{{ building.location }}</div>
                    <div class="yellow g-span-2-3">{{ building.name }}</div>
                    <a href="{{ path('documents', {buildingId: building.id, disciplineCode: 'B'}) }}" class="antraciet">B</a>
                    <div class="antraciet disabled">F</div>
                    <div class="antraciet disabled">HSE</div>
                    <a href="{{ path('documents', {buildingId: building.id, disciplineCode: 'W'}) }}" class="antraciet">W</a>
                    <div class="antraciet disabled">MR</div>
                    <a href="{{ path('documents', {buildingId: building.id, disciplineCode: 'E'}) }}" class="antraciet">E</a>
                </div>
            </div>
            <div class="ml-10 d-inline-block">
                <div class="grid-col-1">
                    <div class="yellow"></div>
                    <a class="antraciet" href="mailto:info@iqsupportbv.nl">
                        <svg class="bi bi-envelope-fill" width="1em" height="1em" viewBox="0 0 16 16"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M.05 3.555L8 8.414l7.95-4.859A2 2 0 0014 2H2A2 2 0 00.05 3.555zM16 4.697l-5.875 3.59L16 11.743V4.697zm-.168 8.108L9.157 8.879 8 9.586l-1.157-.707-6.675 3.926A2 2 0 002 14h12a2 2 0 001.832-1.195zM0 11.743l5.875-3.456L0 4.697v7.046z"/>
                        </svg>
                    </a>
                    <a class="antraciet" href="{{ path('buildings') }}">
                        <svg class="bi bi-arrow-left-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 010 .708L5.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}