{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
    {% include 'partials/navbar.html.twig' %}

    <div class="container-fluid">
        <ol class="breadcrumb shadow-sm bg-white">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a> /</li>
            <li class="breadcrumb-item">documenten /</li>
        </ol>
        <div id="documenten">
            <div id="filterContainer" class="col-md-2">
                <div id="filters">
                    <h3>Filter</h3>
                    <div class="filterOption" id="DocumentTypeFilter">
                        <h4>Document type</h4>
                            {% for documentTypeGroup in documentTypes %}
                                    <span class="subgroupTitle toggleBtn">{{ documentTypeGroup[0].name }}</span>
                                    <ul class="list-group list-unstyled subfilter">
                                        {% for documentType in documentTypeGroup %}
                                                <label>
                                                    <input type="checkbox" name="documentTypes" value="{{ documentType.code }}">
                                                    {{ documentType.name }}
                                                </label>
                                        {% endfor %}
{#                                        <div class="show-more">Meer zien</div>#}
                                    </ul>
                                </ul>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="filterOption" id="disciplineFilter">
                        <h4>Discipline</h4>
                        {% for disciplineGroup in disciplineGroups %}
                            <span class="subgroupTitle toggleBtn">[{{ disciplineGroup[0].code * 10 }}...{{ disciplineGroup[0].code * 10 + 10 }}] {{ disciplineGroup[0].description|lower }}</span>
                            <ul class="list-group list-unstyled subfilter">
                                {% for discipline in disciplineGroup %}
                                    <label>
                                        <input type="checkbox" class="checkbox" name="disciplineGroup" value="{{ discipline.code }}">
                                        [{{ discipline.code }}] {{ discipline.description|lower }}
                                    </label>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="filterOption" id="floorFilter">
                        <h4>Verdieping</h4>
                        <label>
                            <input type="number" name="floor" id="floorInput" />
                        </label>
                    </div>
                    <input type="hidden" name="buildingId", id="buildingId" value="{{ buildingId }}">
                    <div>
                        <button id="removeFilters" class="btn btn-info">Filters wissen</button>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <table class="table dataTable row-border" id="listing">
                    <thead>
                    <tr>
                        <th>Bestandsnaam</th>
                        <th>Document type</th>
                        <th>Discipline omschrijving</th>
                        <th>Discipline code</th>
                        <th>Gebouw</th>
                        <th>Verdieping</th>
                        <th>Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for document in documents %}
                            <tr data-href="{{ path('document', {documentId: document.id}) }}" class="clickable-row">
                                <td>{{ document.documentName }}</td>
                                <td>{{ document.documentType.name }}</td>
                                <td>{{ document.discipline.description }}</td>
                                <td>{{ document.discipline.code }}</td>
                                <td>{{ document.building }}</td>
                                <td>{{ document.floor }}</td>
                                <td><a href="{{ path('document', {documentId: document.id}) }}">Bekijk</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}