{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
    {% include 'partials/navbar.html.twig' %}

    <div class="container-fluid">
        <ol class="breadcrumb shadow-sm bg-white">
            <li class="breadcrumb-item">Home /</li>
        </ol>
        <div id="documenten">
            <div id="filterContainer" class="col-md-2">
                <div id="filters">
                    <h3>Filter</h3>
                    <hr>
                    <div class="filterOption" id="DocumentTypeFilter">
                        <h4>Document type</h4>
                        <ul class="list-group list-unstyled">
                            {% for documentTypeGroup in documentTypes %}
                                <ul>
                                     {{  }}
                                    {% for documentType in documentTypeGroup %}
                                        {{ documentType.name }}
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </ul>
                    </div>

                    <hr>
                    <div class="filterOption" id="disciplineFilter">
                        <h4>Discipline</h4>
                        <ul class="list-group list-unstyled">
                            {% for discipline in disciplines %}
                                {% if discipline.code < 10 and discipline.code matches '/^\\d+$/'%}
                                    <label>
                                        <input type="checkbox" name="disciplineGroup" value="{{ discipline.code }}">
                                        {{ discipline.description }}
                                    </label>
                                {% endif %}
                            {% endfor %}
{#                            {% for i in 0..9 %}#}
{#                                <label>#}
{#                                    <input type="checkbox" name="disciplineGroup" value="{{ i }}">#}
{#                                    {{ i*10 }}-{{ i*10+9 }}#}
{#                                </label>#}
{#                            {% endfor %}#}
                        </ul>
                    </div>
                    <div class="filterOption" id="floorFilter">
                        <h4>Verdieping</h4>
                        <label>
                            <input type="number" name="floor" id="floorInput" />
                        </label>
                    </div>
                    <hr>
                    <input type="hidden" name="buildingId", id="buildingId" value="{{ buildingId }}">
                    <div>
                        <button id="removeFilters" class="btn btn-info">Filters wissen</button>
                    </div>
                </div>
            </div>
            <div id="listingContainer" class="col-md-10">
                <table class="dataTable table-striped" id="listing">
                    <thead>
                    <tr>
                        <th>Bestandsnaam</th>
                        <th>Document type</th>
                        <th>Discipline</th>
                        <th>Omschrijving</th>
                        <th>Gebouw</th>
                        <th>Verdieping</th>
                        <th>Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for document in documents %}
                            <tr>
                                <td>{{ document.documentName }}</td>
                                <td>{{ document.documentType.name }}</td>
                                <td>{{ document.discipline.code }}</td>
                                <td>{{ document.discipline.description }}</td>
                                <td>{{ document.building }}</td>
                                <td>{{ document.floor }}</td>
                                <td><a href="{{ path('document', {documentId: document.id}) }}">Bekijk</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}