{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block body %}
    {% include 'partials/navbar.html.twig' %}

    <div class="container">
        <div id="documenten">
            <div id="filterContainer">
                <div id="filters">
                    <h3>Filter</h3>
                    <div id="gebouwenFilter" class="filterOption">
                        <h4>Gebouw</h4>
                        <h5>Groningen</h5>
                        <ul class="fa-columns list-unstyled">
                            {% for locatie in app.user.organisation.buildings %}
                                <li>
                                    <label>
                                        <input type="checkbox" name="locatie"
                                               value="{{ locatie }}"> {{ locatie }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <hr>

                    <div class="filterOption" id="disciplineFilter">
                        <h4>Discipline</h4>
                        <ul class="list-group list-unstyled">
                            {% for i in 0..9 %}
                                <label>
                                    <input type="checkbox" name="locatie"
                                           value="{{ i*10 }}"> {{ i*10 }}-{{ i*10+9 }}
                                </label>
                            {% endfor %}
                        </ul>
                    </div>

                    <hr>

                    <div class="filterOption" id="floorFilter">
                        <h4>Verdieping</h4>
                        <label>
                            <input type="text" name="floor" />
                        </label>
                    </div>
                </div>
            </div>
            <div id="listingContainer">
                <table class="dataTable" id="listing">
                    <thead>
                    <tr>
                        <th>NL/SfB #</th>
                        <th>Discipline</th>
                        <th>Omschrijving</th>
                        <th>Gebouw</th>
                        <th>Verdieping</th>
                        <th>Acties</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for document in documents %}
                            <tr>
                                <td>{{ document.documentName }}</td>
                                <td>{{ document.discipline.code }}</td>
                                <td>{{ document.discipline.description }}</td>
                                <td>TODO</td>
                                <td>TODO</td>
                                <td>Acties</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}