{% extends 'base.html.twig' %}

{% block body %}
{% include 'partials/navbar.html.twig' %}

    <div id="home-banner">
        <div class="container-fluid h-100">

            <h1>Welkom {{ app.user.username }}</h1>

            <p>Welkom in het tekeningenbeheerportaal van IQ support. In de tekeningen database kunt u tekeningen bestanden bekijken.</p>

            <div class="card-block container">

                <div class="card no-brand">
                    <a href="{{ path('issue.index') }}">
                        <div class="card_body">
                            <img src="{{ asset('/web/img/policy.svg') }}" alt="">
                            <hr>
                            <h4>Openstaande tekeningen</h4>
                        </div>
                    </a>
                </div>

                <div class="card no-brand">
                    <a href="{{ path('documents.index') }}">
                        <div class="card_body">
                            <img src="{{ asset('/web/img/document.svg') }}" alt="">
                            <hr>
                            <h4>Tekeningen database</h4>
                        </div>
                    </a>
                </div>
                <div class="card no-brand">
                    <a href="{{ path('profile') }}">
                        <div class="card_body">
                            <img src="{{ asset('/web/img/user.svg') }}" alt="">
                            <hr>
                            <h4>Profiel</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <style>
        .footer-content { margin-top: 0; }
    </style>

{% endblock %}