{% extends 'base.html.twig' %}

{% block body %}
{% include 'partials/navbar.html.twig' %}

    <div class="container">
        <ol class="breadcrumb shadow-sm bg-white">
            <li class="breadcrumb-item">Home /</li>
        </ol>

        <div class="row">
            <div class="col-sm-8">
                <a href="{{ path("documents.index") }}">Documenten</a>
                <br>
                <img class="img-fluid" src="{{ asset(logo_directory ~ app.user.organisation.logoFileName) }}" alt="">
            </div>
            <div class="issues-container col-sm-4">
                <div class="card">
                    <div class="card_head">
                        <h4 class="font-weight-bold">Openstaande tekeningen</h4>
                    </div>
                    <div class="card_body">
                        {% for issue in issues %}
                            <a href="{{ path('issue.show', {id: issue.id}) }}">
                                {{ issue.document }}
                                <br>
                                {{ issue.issuedAt.format("d-m-Y H:m") }}
                                <br>
                                {{ issue.issueDeadline.format("d-m-Y H:m") }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>



    </div>
{% endblock %}