{% extends 'base.html.twig' %}

{% block body %}
{% include 'partials/navbar.html.twig' %}
    <div class="container mt-1">

        <div class="card">
            <h2 class="title">Upload document</h2>
            <hr>
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.fileContent) }}
            {{ form_row(form.location) }}
            {{ form_row(form.building) }}
            {{ form_row(form.floor) }}
            {{ form_row(form.area) }}
            {{ form_row(form.discipline) }}
            {{ form_row(form.documentType) }}
            {{ form_row(form.description) }}

            {{ form_row(form.submit, { 'label': 'Submit me' }) }}
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}