{% extends 'profile/settings.html.twig' %}

{% block content %}
<div class="card">
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Username</td>
                <td>Totaal aantal downloads</td>
                <td>Filetype</td>
                <td>Dagen gereserveerd</td>
                <td>Dagen uitgeleend</td>
            </tr>
            </thead>
            <tbody>
            {% for line in data %}
                <tr>
                    <td>{{ line.username }}</td>
                    <td>{{ line.total }}</td>
                    <td>{{ line.fileType }}</td>
                    <td>{{ line.gereserveerd }}</td>
                    <td>{{ line.uitgeleend }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

</div>
{% endblock %}